@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

@font-face {
  font-family: 'LHF_Encore';
  src: url('/systems/household/fonts/lhf-encore-distressed.ttf');
}

/*
#logo {
  content:url("/systems/household/assets/logo_txt.png");
}
*/

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover,
.rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to household sheets */
.household .item-form {
  font-family: "Roboto", sans-serif;
}

.sheet .my-title {
  font-family: 'LHF_Encore', Beau Rivage, cursive;
  font-size: 1.35rem;

}

.sheet .my-title-center {
  font-family: 'LHF_Encore', Beau Rivage, cursive;
  font-size: 1.35rem;

}

.sheet .window-header {
  flex: 0 0 30px;
  overflow: hidden;
  padding: 0 8px;
  line-height: 30px;
  border: none;
  background-image: url(/systems/household/assets/sheet/header_bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  color: #575757;
}

.sheet .window-content {
  background: url(/systems/household/assets/sheet/sheet_bg.webp) repeat;

}

/**
* Sheet config
*/
.household .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.household .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.household .sheet-header .header-fields {
  flex: 1;
}

.household .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.household .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.household .sheet-tabs {
  flex: 0;
}

.household .sheet-body,
.household .sheet-body .tab,
.household .sheet-body .tab .editor {
  height: 100%;
}

.household .sheet input[type="radio"].stress-option {
  visibility: hidden;
  height: 0;
  width: 0;
}

.household .label-stress {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  /*background-color: #58ba83;*/
  color: white;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 3px 6px;
  border-radius: 3px;
  transition: all .3s ease-out;
}

/* SHEET ACES */
.aces-card {
  width:44px;
  height: 61px;
  /*background: #999;*/
  /*border: 1px solid #000;*/
  position: absolute;
  opacity: 1;
  
}

.aces-card-img {
  width: 44px;
  height: 61px;
  border: 0px;
}

.aces-card-1 {
  transform-origin: bottom center; transform:rotate(-48deg);margin-left:30px;
}

.aces-card-2 {
  transform-origin: bottom center; transform:rotate(-24deg);margin-left:60px;
}

.aces-card-3 {
  transform-origin: bottom center; transform:rotate(0deg);margin-left:90px;
}

.aces-card-4 {
  transform-origin: bottom center; transform:rotate(24deg);margin-left:120px;
 
}

.aces-card-5 {
  transform-origin: bottom center; transform:rotate(48deg);margin-left:150px;
}



.household .stress-square {
  background-image: url('/systems/household/assets/sheet/square-green.png');
}

.household .stress-rosette {
  background-image: url('/systems/household/assets/sheet/rosette-green.png');
}

.household .stress-rosette-damage {
  background-image: url('/systems/household/assets/sheet/rosette-red.png');
}

.household .stress-square-damage {
  background-image: url('/systems/household/assets/sheet/square-red.png');
}




.household .tox .tox-editor-container {
  background: #fff;
}

.household .tox .tox-edit-area {
  padding: 0 8px;
}

.household .resource-label {
  font-weight: bold;
}

.household .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.household .items-header>* {
  font-size: 14px;
  text-align: center;
}

.household .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}

.household .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.household .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.household .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}

.household .items-list .item-name h3,
.household .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.household .items-list .item-controls {
  display: flex;
  flex: 0 0 90px;
  justify-content: flex-end;
}

.household .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.household .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.household .items-list .item:last-child {
  border-bottom: none;
}

.household .items-list .item .item-name {
  color: #191813;
}

.household .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.household .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.household .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.household .items-list .items-header>* {
  font-size: 12px;
  text-align: center;
}

.household .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.household .item-formula {
  flex: 0 0 100px;
  padding: 0 8px;
}

.household .item-trait {
  flex: 0 0 220px;
  padding: 0 8px;
}

.household .effects .item .effect-source,
.household .effects .item .effect-duration,
.household .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.household .effects .item .effect-controls {
  border: none;
}

/*.chat-message .message-header .message-sender {
  font-family: 'LHF_Encore', Beau Rivage, cursive;
  font-size: 1.3rem;
  font-weight: 600;
}*/

.chat-message .ability-name {
  font-family: 'LHF_Encore', Beau Rivage, cursive;
  font-size: 1.2rem;
  font-weight: 600;
  border: 0px;
  display: flex;
  justify-content: space-between;
}


.header_og {
  color: #356978;
  text-align: center;
  border: none;
  width: 100%
}

.header_ms {
  color: #862955;
  text-align: center;
  border: none;
  width: 100%
}

.chat-message .transition {
  transition: all .3s ease-out;
}

.chat-message input[type="radio"].modifier-option {
  visibility: hidden;
  height: 0;
  width: 0;
}

.chat-message .mod-label,
.mod-label-plus,
.mod-label-minus {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #918f8f;
  color: white;
  padding: 3px 6px;
  border-radius: 3px;
  transition: all .3s ease-out;
}

.chat-message .option-empty {
  background-color: #58ba83;
  color: white;
  text-align: center;
}

.chat-message .option-selected {
  background-color: #ba5858;
  color: white;
  text-align: center;
}

.chat-message ::placeholder {
  text-align: center;
  color: #ffffff;
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: rgb(255, 255, 255);
}

.chat-message input[type="radio"].modifier-option:checked+label.mod-label {
  background-color: #454545;
}

.chat-message input[type="radio"].modifier-option:checked+label.mod-label-plus {
  background-color: #58ba83;
}

.chat-message input[type="radio"].modifier-option:checked+label.mod-label-minus {
  background-color: #ba5858;
}


/* SELECT DROPDOWN

*/
/* --------------------------- */

.household-dialog-class .f-group {
  max-width: 250px;
  margin: 0 auto;
  text-align: left;
  select {
    width: 100%;
  }
}

.household-dialog-class .dialog-button {
  position: absolute; left: 35%; width: 30%; 
  bottom: 20px;
  text-align: center;
}

/*
SELECT DROPDOWN END
*/

.household-dialog-class .household-dialog-title {
  font-family: 'LHF_Encore', Beau Rivage, cursive;
  font-size: 1.6em;
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  font-weight: bold;
  text-align: center;
}

  .household-dialog-class .household-dialog-title:after {
    content: "";
    display: block;
    background-image: url(/systems/household/assets/sheet/deco1.svg);
    background-size: 350px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 20px;
    margin-bottom: 10px;
  }

.household-dialog-class .window-content {

  /*font-family: Cambria, Times, 'Times New Roman', serif;*/
  margin-top: 10px;
  padding: 2px;
  border: solid 20px;
  border-image-source: url(/systems/household/assets/chat/deco4.svg) !important;
  border-image-slice: 20 20;
}
.chat-message .table-results {
  display: grid;
  width: 100%;
  /*font-family: Cambria, Times, 'Times New Roman', serif;*/
  margin-top: 10px;
  padding: 2px;
  border: solid 20px;
  border-image-source: url(/systems/household/assets/chat/deco4.svg) !important;
  border-image-slice: 20 20;

}
.chat-message .chat-card {
  display: grid;
  width: 100%;
  /*font-family: Cambria, Times, 'Times New Roman', serif;*/
  margin-top: 10px;
  padding: 2px;
  border: solid 20px;
  border-image-source: url(/systems/household/assets/chat/deco4.svg);
  border-image-slice: 20 20;
}

.chat-message .roll-suc {
  font-size: 18px;
  margin-left: 20px;
  font-style: none;
  text-align: center;
  font-weight: bold;
}

.chat-message .icon-lost_success {
  font-size: 48px;
  color: yellow
}

.chat-message .icon-Success {
  font-size: 48px;
  color: green
}

.chat-message .icon-Failure {
  font-size: 48px;
  color: red
}


.chat-message .outcome {
  margin-left: 20px;
  font-style: none;
  font-weight: bold;
}

.chat-message .roll-outcome {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-items: center; margin-top: 5px;
}

.chat-message .out-LostSuccess {
  color: #860c0c;
  font-size: 20px;
}

.chat-message .out-Success {
  color: #0c9e2b;
  font-size: 28px;
}

.chat-message .out-Failure {
  color: #860c0c;
  font-size: 28px;
}

.chat-message .out-Jackpot {
  color: #109717;
  font-size: 28px;
}

.chat-message .roll-suc-Basic {
  color: #356978;

}

.chat-message .roll-suc-Critical {
  color: #9ea021;
}

.chat-message .roll-suc-Extreme {
  color: #78356d;
}

.chat-message .roll-suc-Impossible {
  color: #bb1818;
}

.chat-message .roll-suc-Jackpot {
  color: #075f1a;
}


.chat-message .first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-message .success-none {
  /*background-color: rgb(235, 225, 223);*/
  background-color: white;
}

.chat-message .success-basic {
  background-color: #356978;
}

.chat-message .success-cancel {
  background-color: rgb(235, 134, 134);
}

.chat-message .success-critical {
  background-color: #9ea021;
}

.chat-message .success-extreme {
  background-color: #78356d;
}

.chat-message .success-impossible {
  background-color: #bb1818;
}

.chat-message .success-jackpot {
  background-color: #075f1a;
}

.chat-message .dice {
  padding: 4px;
  /*background-color: rgb(235, 225, 223);*/
  width: 24px;
  height: 24px;
  border-radius: 10%;
  margin-right: 10px;
}

.chat-message .dot-basic,
.dot-critical,
.dot-extreme,
.dot-impossible,
.dot-jackpot {
  background-color: rgb(255, 255, 255);
}

.chat-message .dot-none {
  background-color: rgb(36, 34, 34);
}

.chat-message .dice-result {
  display: none;
}

.chat-message .dot {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.chat-message .second-face {
  display: flex;
  justify-content: space-between;
}

.chat-message .second-face .dot:nth-of-type(2) {
  align-self: flex-end;
}

.chat-message .third-face {
  display: flex;
  justify-content: space-between;
}

.chat-message .third-face .dot:nth-of-type(1) {
  align-self: flex-end;
}

.chat-message .third-face .dot:nth-of-type(2) {
  align-self: center;
}


.chat-message .fourth-face,
.sixth-face,
.fifth-face {
  display: flex;
  justify-content: space-between;
}

.chat-message .fourth-face .column,
.sixth-face .column,
.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-message .fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

.chat-message .input-hidden {
  position: absolute;
  left: -9999px;
}

.chat-message .cancel-dice {
  width: 24px;
  height: 24px;
  position: relative;
  background-color: red;
  margin: auto;
}

.give_up {
  cursor: pointer;
}

.chat-message .cancel-dice:before,
.cancel-dice:after {
  content: '';
  width: 110%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
}

.chat-message .cancel-dice:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.chat-message .cancel-dice:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*input[type=radio]:checked + label>img {
  border: 0px solid #fff;
  
}*/

/* Stuff after this is only to make things more pretty */
.chat-message input[type=radio].field+label>img {
  border: 0px dashed #444;
  width: 20px;
  height: 20px;
  transition: 500ms all;
}

/*input[type=radio]:checked + label>img {
  transform: 
    rotateZ(-10deg) 
    rotateX(10deg);
}*/

.sheet .window-content {
  overflow: hidden;
}

/* TTT
*/
.sheet .ttt {
  cursor: pointer;
}


/** ITEM LIST

*/
.sheet details {
  border-color: #f2bebb;
  /*color: rgba(255, 255, 255, 0.9);*/
  /*background: #878d99;*/
  border: 1px solid;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 4px;
  min-height: 8px;

  transform-origin: top center;
  transform: rotate(0.1deg);
  transition: all 0.3s;
   background-color:rgba(0, 0, 0, 0.1);
}
.sheet details:hover {
  border-color: #878d99;
  /*color: rgba(255, 255, 255, 0.6);*/
}
.sheet details:active {
  /*color: rgba(255, 255, 255, 0.9);*/
  border-color: #6d7380;
}
.sheet details > summary {
  list-style: none;
}
.sheet details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
.sheet details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}
.sheet details summary::-webkit-details-marker {
  display:none;
}
.sheet details + details {
  margin-top: 2px;
}
.sheet details p {
  /*color: #fefefe;*/
  line-height: 1.7;
  margin: 10px 0 0;
  padding: 0 20px 15px;
}

.sheet details.square {
  border-radius: 0;
}
.sheet details[open] {
  transition: all 0.6s;
  min-height: 100px;

}

.sheet summary {
  outline: none;
  font-size: 16px;
  padding: 3px;

}
.sheet summary:selection {
  background: transparent;
}

.sheet .item-summary-title {
  opacity: 1.0;
  vertical-align:middle;
  height: 24px;
}

.sheet span .removebtn {
  fload: right;
}

/*
.sheet summary:after {
  margin-top: 2px;
  content: "➕";
  float: right;
  margin-right: 11px;
  text-align: center;
  font-size: 11px;
}

[open] .sheet summary:after {
  padding: 0 0 12px 0;
  content: "➖";
}
*/

[open] .sheet summary {
    background-color:rgba(0, 0, 0, 0.2);
}


/** DECORUM */
.sheet .decorum-text{
	font-family: Cambria, Times, 'Times New Roman', serif;
	font-size: small;
	text-transform: uppercase;
}

.sheet .grid-decorum{
	display: grid;
	width: 100%;
	height: 70px;
	margin: auto;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: auto auto;
	align-items: center;
	justify-content: space-around;
	align-content: space-evenly;
	justify-items: center;
	gap: 5px 2px;
}

.sheet .grid-decorum div{
	text-align: center;
}

.sheet .decorum input[type="checkbox"] {
  -webkit-appearance: initial;
  appearance: initial;
  background: url(/systems/household/assets/sheet/butterfly.svg);
background-repeat: no-repeat !important;
background-size: cover !important;
flex: 0 0 27px;
  width: 27px;
  height: 22px;
  cursor: pointer;
transform: scale(1.4);
}

.sheet .decorum input[type="radio"] {
  -webkit-appearance: initial;
  appearance: initial;
  background: url(/systems/household/assets/sheet/butterfly.svg);
background-repeat: no-repeat !important;
background-size: cover !important;
flex: 0 0 27px;
  width: 27px;
  height: 22px;
  cursor: pointer;
transform: scale(1.4);
}

.sheet .decorum input[type="radio"]:checked {
  background: url(/systems/household/assets/sheet/butterfly-filled.svg) !important;
  -webkit-filter: none !important;
background-repeat: no-repeat !important;
background-size: cover !important;
}

.sheet .decorum input[type="checkbox"]:checked {
  background: url(/systems/household/assets/sheet/butterfly-filled.svg) !important;
  -webkit-filter: none !important;
background-repeat: no-repeat !important;
background-size: cover !important;
}

.household .field-title {
  font-family: 'LHF_Encore', Beau Rivage, cursive;
  font-size: 2.0em;
  font-weight: 500;
  text-transform: capitalize;
}

.household .characteristic-title {
  font-family: 'LHF_Encore', Beau Rivage, cursive;
  font-size: 1.6em;
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  font-weight: bold;
  text-align: center;
}

.household .characteristic-description {
  font-family: 'LHF_Encore', Beau Rivage, cursive;
  font-size: 1.6em;
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  font-weight: bold;
  text-align: center;
}

.household .characteristic-title:after {
  content: "";
  display: block;
  background-image: url(/systems/household/assets/sheet/deco1.svg);
  background-size: 350px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 20px;
  margin-bottom: 10px;
}



.household .field-title:after {
  content: "";
  display: block;
  background-image: url(/systems/household/assets/sheet/deco2.svg);
  background-size: 200px, auto;
  background-repeat: no-repeat;
  background-position: left top;
  height: 16px;

}

.chat-message input[type=radio]:checked.field-hearts+label>img {
  content: url("/systems/household/assets/sheet/hearts-filled.svg");
}

.chat-message input[type=radio]:checked.field-society+label>img {
  content: url("/systems/household/assets/sheet/hearts-filled.svg");
}

.chat-message input[type=radio]:checked.field-diamonds+label>img {
  content: url("/systems/household/assets/sheet/diamonds-filled.svg");
}

.chat-message input[type=radio]:checked.field-academia+label>img {
  content: url("/systems/household/assets/sheet/diamonds-filled.svg");
}

.chat-message input[type=radio]:checked.field-clubs+label>img {
  content: url("/systems/household/assets/sheet/clubs-filled.svg");
}

.chat-message input[type=radio]:checked.field-war+label>img {
  content: url("/systems/household/assets/sheet/clubs-filled.svg");
}

.chat-message input[type=radio]:checked.field-spades+label>img {
  content: url("/systems/household/assets/sheet/spades-filled.svg");
}

.chat-message input[type=radio]:checked.field-street+label>img {
  content: url("/systems/household/assets/sheet/spades-filled.svg");
}

.household .hearts-bg {
  background: url(/systems/household/assets/sheet/hearts2_bg.webp);
  background-repeat: no-repeat;
  background-size: auto 140px;
  background-position: 1px bottom;
}

.household .input-hidden {
  position: absolute;
  left: -9999px;
}

/* Stuff after this is only to make things more pretty */
.household input[type=radio]+label>img {
  border: 0px dashed #444;
  width: 15px;
  height: 15px;
  transition: 500ms all;
}

.household .label-ability {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding: 0;
  text-align: center;
}

.household .label-skill {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  padding: 0;
  text-align: center;
}

.household .bg-hearts {
  background-image: url(/systems/household/assets/sheet/hearts.svg);
}

.household .bg-hearts-filled {
  background-image: url(/systems/household/assets/sheet/hearts-filled.svg);
}

.household .bg-clubs {
  background-image: url(/systems/household/assets/sheet/clubs.svg);
}

.household .bg-clubs-filled {
  background-image: url(/systems/household/assets/sheet/clubs-filled.svg);
}

.household .bg-diamonds {
  background-image: url(/systems/household/assets/sheet/diamonds.svg);
}

.household .bg-diamonds-filled {
  background-image: url(/systems/household/assets/sheet/diamonds-filled.svg);
}


.household .bg-spades {
  background-image: url(/systems/household/assets/sheet/spades.svg);
}

.household .bg-spades-filled {
  background-image: url(/systems/household/assets/sheet/spades-filled.svg);
}