{{!-- Sheet Header --}}
<header class="sheet-header">
  
  <div class="char-header grid grid-5col">

  <!-- Image -->
  <img
    class="profile-img grid-span-1 grid-row-span-2"
    src="household/Gwen%20Summers.png"
    data-action="editImage"
    data-field="img"
    title="Gwen Summers"
    height="100"
    width="100"
  >

  <!-- Character name -->
  <h1 class="charname grid-span-4">
    <input
      class="char-name"
      name="name"
      type="text"
      value="Gwen Summers"
      placeholder="Name"
    >
  </h1>

  <!-- Resources -->
  <div class="resources grid grid-4col grid-span-4">

    <div class="resource__group">
      <input class="form__field" name="system.folk" value="Boggart">
      <label class="form__label">Folk - {{@root/id}}</label>
    </div>

    <div class="resource__group">
      <input class="form__field" name="system.homeland" value="Hearth">
      <label class="form__label">Homeland</label>
    </div>

    <div class="resource__group">
      <input class="form__field" name="system.profession" value="Scholar">
      <label class="form__label">Profession</label>
    </div>

    <div class="resource__group">
      <input class="form__field" name="system.vocation" value="Researcher">
      <label class="form__label">Vocation</label>
    </div>

  </div>
</div>

</header>
