<!--section class="grid grid-2col"-->
  <!--aside class="sidebar">
    <div style="border: 1px solid #000; background-color: #ffffff; opacity: 0.6;" class="fields flexcol flex-group-center" style="gap: 3px">
      <div  class="flexcol flex-group-center">
        <div class="resource flex-group-center">
          <label> <span style="display:inline-block; float:right;">
              <a class="item active action-configuration" data-tab="main" title="Main">
                <i class="fa-solid fa-gear"></i>
              </a>
            </span>
            <a class="rollable" data-type="action">
              <h2 class="characteristic-description">{{localize "HOUSEHOLD.RollActions.long"}}</h2>
            </a>
          </label>
        </div>
    </div>
  </aside-->

  <section class="main grid ">
    {{> "systems/household/templates/actor/parts/npc-tab-main-right.hbs"}}
  </section>

<!--/section-->