.window-header {
    flex: 0 0 30px;
    overflow: hidden;
    padding: 0 8px;
    line-height: 30px;
    border: none;
    background-image: url(/systems/household/assets/sheet/header_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #575757;
  }

  .window-title {
    color: #000;
  }
  
  .window-content {
    background: url(/systems/household/assets/sheet/sheet_bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
  }

  h2 {
    font-family: 'LHF_Encore', Beau Rivage, cursive;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }

  .characteristic-title-dialog {
    border: none;
    color: #000;
    font-family: LHF_Encore, Beau Rivage, cursive;
    font-size: 1.6em;
    text-align: center;
    text-transform: capitalize;
    margin: 0px !important;
  }

  .characteristic-title-dialog:after {
    content: "";
    display: block;
    background-image: url(/systems/household/assets/sheet/deco1.svg);
    background-size: 350px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 20px;
    margin-bottom: 10px;
  }

  .field-label, .difficulty-item, .modifier-item {
    cursor: pointer;
  }