.window-app {
  background: none;
  font-family: $font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px var(--hh-accent-gold);
    cursor: pointer;
  }
}

.window-content {
    background: none;
}

.input-hidden {
  display: none;
}