// Floating label form field styles
.resource__group {
  position: relative;
  padding: 15px 0 0;
  /*margin-top: 10px;*/
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #000;
  outline: 0;
  font-size: 1rem;
  color: #030303;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown~.form__label {
    font-size: 0.6rem;
    color: #000;
    cursor: text;
    top: 18px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #646363;
  font-weight: 700;
}

.form__field:focus {
  ~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #000000;
    font-weight: 700;
  }

  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #000000, #b5b6b5);
  border-image-slice: 1;
}

.form__field {

  &:required,
  &:invalid {
    box-shadow: none;
  }
}
